.important{
    font-size: 20px;
    color: #0000FF;
    font-style: italic;
}

#box1{
    background-color: yellow;
    border: 10px solid red;
    height: 100px;
    width: 200px;
    margin-left: 60px;
    padding-top: 100px;
    
}

#box2{
    background-color: olive;
    margin-left: 100px;
    border-top: 5px dashed blue;
    height: 200px;
    width: 50px;
    margin-top: 25px;
    margin: auto;
    margin-right: auto;
}