@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
    background-color:#82ddb5; 
    background-image: url(img/illustration.gif), url(img/texture.jpg);
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    margin: 0 0 0 0;
    font-family: "Quicksand";
}

#nav{
    background-color: #66bb99;
    border-bottom: 2px dashed #448877;
    color: white;
    font-weight: bold;
    text-align: center;
    word-spacing: 2em;
    padding-top: 17px;
    padding-bottom:17px;
}

#logo{
    max-width: 360px;
}

#description, #date{
    max-width: 220px;
}

#header{
    text-align: center;
    margin-top: 40px;
}

.register_btn{
    background-color: #ee4433;
    border: 2px dashed #aa4433;
    border-radius: 2em;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
}


/* what*/
#what{
    background-color: rgba(209,244,227, 0.9);
    margin-top: 370px;
    padding: 40px 400px;
    color: #347788;
}

#what h1, h2{
    text-align: center;
}

#what p{
    font-size: 16px;
}
#what h1+p{
    font-size: 19px
}

#sponsor_logos img{
    width: 240px;
}
#sponsor_logos {
    text-align: center;
    word-spacing: 30px;
}


/*why*/
#why{
    background-color: #b6ead3;
    margin: 0 0 0 0;
    padding: 40px 400px;
    color: #347788;
}

#why h1{
    text-align: center;
}
#why p{
    font-size: 16px;
}


/*where*/
#where{
    background-image: url(img/map.gif);
    background-position: center;
    margin: 0 0 0 0;
    padding: 40px 400px;
    color: #bd488b;
}

#where h1{
    text-align: center;
    margin-bottom: 40px
}
#where p{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 350px;
}

/*when*/
#when{
    background-image: url(img/wires.png);
    background-color: #439998;
    background-position: center;
    padding: 40px 0px;
    color: #fff;
}

#when ul{
    padding: 0px 430px;
    font-size: 16px;
    text-align: left;
}
#when h1{
    text-align: center;
    margin-bottom: 40px;
}
#when h2{
    text-align: center;
}
#when h3{
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px dashed #fff;
}

/*who*/
#who{
    background-color: #fff;
    padding: 40px 400px;
    color: #347788
}

#who h1{
    text-align: center;
}
#who p+p{
    font-size: 12px;
}

/*footer*/
#footer{
    padding-top: 20px;
    padding-bottom:  40px;
    text-align: center;
}

#footer img{
    max-width: 50px;
    padding: 20px;
}