@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: "Lato","sans-serif";
}

.salmon{
    color: #f06c64;
}

/*OUTLINEEE*/ *{ 
    outline: 1px solid lime;
}

/*NAVIGATION*/
#header{
    background-color: #2d303a;
    height:90px;
    color: #fff;
    border-bottom: solid 6px #505a81;
}
.nav{
    max-width: 950px; /**/
    margin: auto; /*Center nav*/
    display:grid;
    grid-template-columns: 200px auto;
}

.logo{
    margin-top: 27px;
    font-size: 1.4rem;
}
.logo a{
    color: white;
    text-decoration: none;
}

.links{
    margin: 34px;
    font-size: 0.75rem;
    text-align: right;
    color: #505a81;
}
.links a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

/*BANNER*/
.banner{
    text-align: center;
    background-color: #f06c64;
}

.banner img{
    max-width: 780px;
    width: 95%;
}

/*SERVICES*/
#services{
    height: 515px;
    color: #666d89;
}

.article{
    padding: 40px 40px 10px 40px;
    max-width: 970px;
    margin: auto;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #666d89;
}

.paragraph{
    font-size: 1.3rem;
    color: #8a91ab;
}

.serGrid{
    height: 340px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1040px;
}

.serSquares{
    padding: 30px 40px 1px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.serIcon{
    grid-column: 1/2;
}

.serArticle{
    grid-column: 2/4;
}

/*PORTFOLIO*/
#portfolio{
    background-color: #2d303a;
    height: 880px
}

#portfolio .paragraph{
    color: #666d89;
}

.gallery{
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 990px;
}

.galPic{
    margin: 10px;
    text-align: center;
}











@media screen and (max-width: 990px){
    
    body {
        background-color: green;
    }
    
    #header{
        height: 100px;
    }
    
    .logo{
        margin-top: 20px;
        text-align: center;
        grid-column: 1/3;
        margin-bottom: 10px;
    }
    .links{
        grid-column: 1/3;
        margin-top: 10px;
        text-align: center;
    }

}